@media (max-width:360px) {
    header{
        display: none;
    }
    .top-banner-container>.left-side>h1{
        font-size: 40px;
    }
    .top-banner-container {
        height: 159vh;
        width: 572px;
        background-color: #2D25A0;
        flex-direction: column;
    }
    img.top-jump-animation{
        width: 80%;
        height: 85%;
    }
    .blogs-container {
        grid-template-columns: repeat(1,1fr) !important;
        grid-row-gap: 27px;
        padding:20px !important;
    }
}