@media (max-width:360px) {
    header{
        display: none;
    }
    .top-banner-container>.left-side>h1{
        font-size: 40px;
    }
    .top-banner-container {
        height: 159vh;
        width: 572px;
        background-color: #2D25A0;
        flex-direction: column;
    }
    img.top-jump-animation{
        width: 80%;
        height: 85%;
    }
    .blogs-container {
        grid-template-columns: repeat(1,1fr) !important;
        grid-row-gap: 27px;
        padding:20px !important;
    }

    /* Highlights Section For Mobile */

    .highlights-container{
        display: flex;
        flex-direction: column;
        align-items: center ;
        justify-content: center;
    }
    .highlights-container img{
        width: 80%;
        height: 80%;
        margin: 40px;
    }
    .highlights-container>.left-side{
        width: 294px;
    }

    /* Nesletter */
    .newsletter-box input {
        width: 100%;
    }
    .newsletter-box-main {
        width: 72%;
        margin: auto;
    }

    /* Footer */
    footer > img {
        width: 90%;

}